[submodule "deps/AssetsTools.NET"]
	path = deps/AssetsTools.NET
	url = https://github.com/nesrak1/AssetsTools.NET
	ignore = dirty
[submodule "deps/VGAudio"]
	path = deps/VGAudio
	url = https://github.com/Thealexbarney/VGAudio
	ignore = dirty
[submodule "deps/SonicAudioTools"]
	path = deps/SonicAudioTools
	url = https://github.com/blueskythlikesclouds/SonicAudioTools
	ignore = dirty
