[submodule "deps/AssetsTools.NET"]
	path = deps/AssetsTools.NET
	url = https://github.com/datasone/AssetsTools.NET
[submodule "deps/VGAudio"]
	path = deps/VGAudio
	url = https://github.com/datasone/VGAudio
[submodule "deps/SonicAudioTools"]
	path = deps/SonicAudioTools
	url = https://github.com/datasone/SonicAudioTools
[submodule "deps/Il2CppDumper"]
	path = deps/Il2CppDumper
	url = https://github.com/datasone/Il2CppDumper.git
	branch = dumper_lib
